.login_bg {
  background-image: linear-gradient(#00000092, #00000084),
    url(../../assets/music-1106439_1920.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
